{% extends "admin_main_base.html" %}
{% block hello_user %}
{{ super() }}
{% set T = settings.SITE.modules.courses.ActiveCourses %}
<h2>{{T.label}}</h2>
{{E.tostring(ar.show(T))}}

{% if False %}

    <p>{{_("Quick links:")}}
    {% for mi in settings.SITE.get_quicklinks(ar).items %}
    [{{E.tostring(ar.window_action_button(mi.bound_action))}}]
    {% endfor %}
    </p>

    <h2>{{_('Upcoming reminders')}}</h2>
    <table bgcolor="#eeeeee" padding="2pt" width="100%"><tr><td>
    {{settings.SITE.reminders_as_html(ar,days_forward=30,
                max_items=10,before='<ul><li>',
                separator='</li><li>',
                after="</li></ul>")}}
    </td></tr></table>            
{% endif %}
{% endblock %}
